{{! Maintainers - Kevin Corry}}
<div class="component-inner responsiveIframe-inner">
  <div class="component-widget responsiveIframe-widget">
    <div class="responsiveIframe-iframe-holder">
      <iframe scrolling="no" class="responsiveIframe-iframe" src="{{_source}}"
        data-height-large="{{_height.large}}" data-height-medium="{{_height.medium}}" data-height-small="{{_height.small}}"
        data-width-large="{{_width.large}}" data-width-medium="{{_width.medium}}" data-width-small="{{_width.small}}">
      </iframe>
    </div>
  </div>
</div>